DB_URL=postgresql://postgres:EhxwvEamfQieBmjPUNTLxMvSOZUgmBnZ@postgres.railway.internal:5432/railway
DB_USERNAME=postgres
DB_PASSWORD=EhxwvEamfQieBmjPUNTLxMvSOZUgmBnZ


FRONTEND_URL=https://sage-babka-162006.netlify.app

S3_BUCKET_NAME=rachai
S3_REGION=auto
S3_ACCESS_KEY=d4a5b74eb299082dc5e45b946c97cbdf
S3_SECRET_KEY=d6e06e3161a75aada09bc2b2ab4de5cc726e839402750a05dcb71591de45d507
S3_ENDPOINT=https://92e108a6bcc0ec31208d45be38bc2f85.r2.cloudflarestorage.com
S3_BASE_URL=https://pub-ecef1c7865fd4810b3cd01c00f8ec69e.r2.dev

PORT=

JWT_SECRET=
JWT_EXPIRATION=