version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: racha
    environment:
      POSTGRES_DB: racha
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: racha-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"  # console web
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
