version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: racha
    environment:
      POSTGRES_DB: racha
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
